<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.url">jdbc:postgresql://ec2-176-34-114-78.eu-west-1.compute.amazonaws.com/drdi8qfpeu7ja</property>
        <property name="connection.username">toklhlwtorwoea</property>
        <property name="connection.password">486d57877d9c6ddcdab1aa1c09c11307b2c1dd95e021bc201d3a3dd4388ab075</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="com.example.demo.domain.User" />
    </session-factory>
</hibernate-configuration>